<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :media => "all" %>
<body id="home">
  <section class="download-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
          <div class="downloadapp-wrapper" style="text-align:center;">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-6 col-lg-offset-3">
              <div class="home-wrapper home-wrapper-form">
                <img src="/assets/redesign/header-image.png" class="logo"/>
                  <%= form_for @user, :id => "register_form", :class => "intro-form", :url => { :action => "create" } do |f| %>
                    <h3 style="color:#333; font-size:16px; line-height:24px;"><i class="fa fa-key"></i> Be The First To Know</h3>
                    <div class="form-group">
                      <%= f.text_field :email, :placeholder => "Enter your Email", :class => "form-control", :id => "txtEmail", :required => "required" %>
                    </div>
                    <div class="form-group text-center">
                      <button id="btnSubmit" type="submit" class="btn btn-etobee btn-red btn-block">GET IN NOW</button>
                    </div>
                  <% end %>
              </div>
            </div>              
          </div>
        </div>
      </div>
    </div>
  </section>
</body>



<!-- <div class="hero">
    <p class="large brandon">Harry&#8217;s is live</p>
    <p class="small brandon">Respecting the Face and Wallet<br>Since Like...Right Now.</p>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
    <% if Rails.application.config.ended %>
        <p class="thanks brandon">THANK YOU FOR PARTICIPATING<br>IN OUR PRE-LAUNCH.</p>
        <p class="compiling brandon">WE ARE COMPILING REWARDS RIGHT NOW AND WILL EMAIL<br/>COUPON CODES TO ALL RECIPIENTS IN THE NEXT DAY OR TWO</p>
        <p class="go-to brandon">In the meantime, head to  <a href="http://www.harrys.com/">WWW.HARRYS.COM</a></p>
        <p class="again brandon">Thank You Again!</p>
    <% else %>
        <div class="key"></div>
        <p class="byline brandon">Be the first to know</p>
        <%= form_for @user, :url => { :action => "create" } do |f| %>
            <%= f.text_field :email, :placeholder => "Enter Email", :class => "email brandon" %>
            <input class="submit brandon" name="commit" type="submit" value="Step Inside" />
        <% end %>
    <% end %>
</div> -->