<%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css", :media => "all" %>
<body>
  <div class="thanksPage">
    <div class="col-md-12 thanksLine">
      <div class="col-md-11">
        <h1 class="">Thank you for signing up</h1>
      </div>
    </div>
    <div class="col-md-12 thanksBanner">
      <div class="image">
        <img src="/assets/redesign/thanksBanner.jpg" align="etobee" >
      </div>

      <div class="image-small">
        <img src="/assets/redesign/thanksBanner2.jpg" align="etobee" >
      </div>

      <div class="col-md-11 bannerContent">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <div class="title">
            <span><strong>Invite Your Friends!</strong></span><br />
            and they will get Rp60.000 for their sign up
          </div>
          <p>Share your unique link via email, Facebook, or Twitter and earn etobee credits and products for each friend who signs up.</p>
          <div class="inputBlock">
            <input type="text" value="http://campaign.etobee.com/?ref=d3c94e2791" readonly />
          </div>
          <div class="shareBlock">
            <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
            <a class="btn-etobee btn-facebook" href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" target="_blank" style="margin-right:10px;">
                  <i class="fa fa-facebook"></i> Share
                    </a> 

                    <a class="btn-etobee btn-twitter" href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" target="_blank">
                  <i class="fa fa-twitter"></i> Tweet
                    </a>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12 stepLine">
      <div class="col-md-11"><h2 id="ty">Here's how it works</h2></div>
      <div class="col-md-10 friendsJoined">friends joined</div>
      <div class="col-md-10 stepWrapper">
        <div class="stroke"></div>
        <div class="col-md-4 stepItem">
          <div class="col-md-6 number">
            <div class="backgrounded">0</div>
          </div>
          <div class="col-md-6 stepContent">
            <div class="image"><img src="/assets/redesign/step1.png" alt="step-2"></div>
            <div class="text">Enough for 2/3 Deliveries</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-4 stepItem">
          <div class="col-md-6 number">
            <div class="backgrounded">5</div>
          </div>
          <div class="col-md-6 stepContent">
            <div class="image"><img src="/assets/redesign/step2.png" alt="step-3"></div>
            <div class="text">Notebook</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="col-md-4 stepItem">
          <div class="col-md-6 number">
            <div class="backgrounded">15</div>
          </div>
          <div class="col-md-6 stepContent">
            <div class="image"><img src="/assets/redesign/step3.png" alt="step-4"></div>
            <div class="text">Delivery King</div>
          </div>
          <div class="clear"></div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="col-md-12 friendsNotif">
      <% if @user.referrals.count == 0 %>  
        <div><span>0</span> friends have joined!</div>
      <% end %>
      <% if @user.referrals.count == 1 %>
        <div><span>1</span> friend have joined!</div>
      <% end %>
      <% if @user.referrals.count > 1 %>
        <div><span><%= @user.referrals.count %></span> friends have joined!</div>
      <% end %>
      <p>Keep checking</p>
    </div>
    
  </div>
  
</body>


<!-- <div class="header">
    <div class="content">
        <p class="logo brandon">Harry&#8217;s</p>
        <p class="byline brandon">THANK YOU FOR SIGNING UP</p>
    </div>
</div>

<div class="hero">
    <div class="page-content clearfix">
        <div class="mammoth">
            <span class="need brandon">Shaving Is<br>Evolving</span>
        </div>
        <div class="share-wrap">
            <p class="why brandon">Don't leave your friends behind</p>
            <p class="title brandon">INVITE FRIENDS &<br>Earn Product</p>
            <p class="subtitle brandon">Share your unique link via email, Facebook<br>or Twitter and earn Harry's goods for<br>each friend who signs up.</p>
            <div class="copy-link brandon"><%= root_url %>?ref=<%= @user.referral_code %></div>
            <% twitter_message = "#Shaving is evolving. Excited for @harrys to launch." %>
            <div class="social-links">
                <a href="http://www.facebook.com/sharer/sharer.php?u=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&title=Harrys" class="fb" target="_blank"></a>
                <div class="sep"></div>
                <a href="http://twitter.com/share?url=<%= CGI::escape(root_url) %>?ref=<%= CGI::escape(@user.referral_code) %>&text=<%= CGI::escape(twitter_message) %>" class="twit" target="_blank"></a>
            </div>
        </div>
    </div>
</div>

<% 
    referrals_count = @user.referrals.count

    stops = User::REFERRAL_STEPS

    found = nil

    stops.reverse_each { |stop|
        if stop["count"] <= referrals_count and !found
            stop["selected"] = true
            found = stop
        else
            stop["selected"] = false
        end
    }   
 %>
<div class="prizes <% if found %>prize-<%= found["class"] %><% end %>">
    <div class="page-content">
        <p class="callout brandon">Here's How It Works:</p>
        <ul class="products clearfix">
            <li class="title brandon"><p class="friends">Friends Joined</p><p class="rewards">Harry's Product</p></li>
            <% stops.each do |stop| %>
                <li class="product brandon <% if stop["selected"] %>selected<% end %> <% if stop["class"] == 'five' %>last<% end %>">
                    <div class="circle"><%= stop["count"] %></div>
                    <div class="sep"></div>
                    <p><%= stop["html"].html_safe %></p>

                    <div class="tooltip">
                        <img src="<%= stop["image"] %>" height="254">
                    </div>
                </li>
            <% end %>
        </ul>

        <div class="progress">
            <div class="mover">
                <div class="bar clearfix"></div>
            </div>
        </div>

        <% 
            words = ''
            if referrals_count == 1
                words = 'friend has'
            elsif 
                words = 'friends have'
            end

        %>

        <% if referrals_count == 0 %>
            <p class="place brandon"><span>No</span> friends have joined...Yet!</p>
        <% else %>
            <p class="place brandon"><span><%= referrals_count %></span> <%= words %> joined</p>
        <% end %>
        <p class="check brandon">Keep checking</p>

        <p class="ship brandon">We ship to the U.S. (& Canada Soon)</p>        
        <a class="policy brandon" href="/privacy-policy" target="_blank">Privacy Policy</a>
    </div>
</div> -->